name: Deploy to GKE

on:
  push:
    branches:
      - main  # Deploy on push to main
  workflow_dispatch: # Allows manual trigger

jobs:
  deploy:
    runs-on: self-hosted  # Use your self-hosted runner

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4  # Clones repo to the runner

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: canvas-spark-446913-b1
          export_default_credentials: true

      - name: Set up kubectl
        run: |
          gcloud container clusters get-credentials my-gke-cluster --region us-central1-a --project canvas-spark-446913-b1
          kubectl version --client

      - name: Deploy Manifests to GKE
        run: |
          kubectl apply -f manifest_files/postgres.yaml
          kubectl apply -f manifest_files/backend.yaml
          kubectl apply -f manifest_files/frontend.yaml

      - name: Verify Deployment
        run: |
          kubectl get pods
          kubectl get svc
